{{#each this}}
  <li class='country-list__item'>
    <img class='country-list__img' src={{flags.svg}} alt='flag of {{name.common}}' />
    <h2 class='country-list__title'>{{name.official}}</h2>
  </li>
{{/each}}